{% extends 'feltp/admin_base.html' %}
{% load static %}

{% block head %}
{% block title %} Editor {% endblock title %}

{% endblock %}


{% block body %}


 <!-- Main content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> Events</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Post Event</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline card-info">
            <div class="card-header">
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                 <input class="d-none" type="text" id="add" value={{message}}></input>
                  {% endfor %}
              </ul>
              {% endif %}<br>
              <h3 class="card-title">
                Create Event
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data" id='event'>
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="InputTitle">Title</label>
                    <input type="text" class="form-control" id="EventTitle" placeholder="Enter Titile" name="title" value="{{obj.title}}">
                  </div>
                  <div class="form-group">
                    <label class="col-md-12" for="eventDescription">Description</label>
                    
                    <textarea class="col-md-12" id="summernote" placeholder="Place some text here" name="description" style="border-radius:5px;" value="{{obj.description}}">{{obj.description}}
                
                     </textarea>
                  </div>
                  <div class="form-group">
                  <label>Schedule:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        <input type="text" name="schedule"  value="{{obj.schedule|date:Y-m-d'}}"/>
                        
                    </div>
                </div>
                  
            </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Attach Image</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile" name="picture" value="{{obj.picture}}">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="type" class="btn btn-primary" id="back">Cancel</button>
                  <button type="type" class="btn btn-primary" id="edit">Edit</button>
                  <button type="type" class="btn btn-primary" id="delete">Delete</button>
                </div>
              </form>
              
            
          </div>
        </div>
        <!-- /.col-->
      </div>
      <!-- ./row -->
      
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2021 <a href="https://adminlte.io">GFELP</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
    <!-- /.content -->









<script src="/static/feltp/plugins/jquery/jquery.min.js"></script>
<script>

  $(document).ready(function(){

if($('#add').val() =='done'){
    Swal.fire('Saved', 'Event has been updated', 'success')
  }


  $("#sub").click(function(e){
    e.preventDefault()
    $('#event').submit();
  })


  if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }


  $(function () {


    // Summernote
    $('#summernote').summernote()

    // CodeMirror
    CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
      mode: "htmlmixed",
      theme: "monokai"
    });

    $('#reservationdate').datetimepicker({
        format: 'L'
    });

  })



$('#edit').click(function(e){
    e.preventDefault();
    document.location.href = 'edit'
  });


$('#delete').click(function(e){
     e.preventDefault();
    document.location.href = 'delete'
  });


$('#back').click(function(e){
     e.preventDefault();
    document.location.href = '/feltp/adminevent'
  });
  })
</script>

{% endblock %}