{% extends 'feltp/admin_base.html' %}
{% load static %}

{% block head %}
{% block title %} Detailed News {% endblock title %}

{% endblock %}


{% block body %}


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> News</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Post News</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline card-info">
            <div class="card-header">
             <!--  {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                 <input class="d-none" type="text" id="add" value={{message}}></input>
                  {% endfor %}
              </ul>
              {% endif %}<br> -->
              <h3 class="card-title">
                Create News
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data" id='news'>
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="InputTitle" id="uu">Title</label>
                    <input type="text" class="form-control" id="InputTitle" placeholder="Enter Titile" name="title" value="{{obj.title}}" readonly>
                  </div>
                  <div class="form-group">
                    <label class="col-md-12" for="inputDescription">Description</label>
                    
                    <textarea class="col-md-12" name="content" placeholder="Place some text here" style="border-radius:5px;" value="{{obj.content}}" readonly>{{obj.content}}
                      
                    </textarea>
                  </div>
                  
                </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Image</label>
                    <div class="input-group">
                      <div class="custom-file" style="width: 600px; height: 300px;">
                        <img src="/media/api_images/news/{{obj.picture1}}" width="350px" height="250px">
                      </div>
                    </div>
                  </div>
                  
                </div>
                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="type" class="btn btn-primary" id="back">Cancel</button>
                  <button type="type" class="btn btn-primary" id="edit">Edit</button>
                  <button type="type" class="btn btn-danger" id="delete">Delete</button>
                </div>
              </form>
              
            
          </div>
        </div>
        <!-- /.col-->
      </div>
      <!-- ./row -->
      
      <!-- ./row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
{% block js %}


<!-- <script src="/static/feltp/plugins/jquery/jquery.min.js"></script> -->
<script type="text/javascript">
  $(document).ready(function(){

if($('#add').val() =='done'){
    Swal.fire('Saved', 'News has been updated', 'success')
  }


  $("#sub").click(function(e){
    e.preventDefault()
    $('#news').submit();
  })



$('#edit').click(function(e){
    e.preventDefault();
    document.location.href = 'edit'
  });


$('#delete').click(function(e){
     e.preventDefault();
     $.get('/newsdetail/{{obj.id}}/delete', function(data){
        if (data == 'Deleted'){
             Swal.fire("Deleted!", 'Data has successfully been deleted.', "success")
            .then(function () {
                        window.location.href="/adminnews"
                    
                })
        }
    })
  });


$('#back').click(function(e){
     e.preventDefault();
    document.location.href = '/adminnews'
  });

  $(function () {


    // Summernote
    $('#summernote').summernote()

    // CodeMirror
    CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
      mode: "htmlmixed",
      theme: "monokai"
    });

    $('#reservationdate').datetimepicker({
        format: 'L'
    });

  })


  if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
  
//   var token = '{{csrf_token}}';

//   var data = new FormData($("#news").get(0))
//   var file = $('#pic').val()
//   data.append("image", file);
//   $("#sub").click(function(e){
//     e.preventDefault();    
//     alert($('#pic').val())
//     $.ajax({
//         url  : '/feltp/admincreatenews',
//         type : 'POST',
//         headers: { "X-CSRFToken": token },
//         processData: false,
//         contentType: false,
//         data : data,
//         success : function(data) {
//            if(data=="done"){

//                 swal("Saved!", "The record has been successfully saved!", "success")
//                 .then(function () {
//                         window.location.href="/login/"
                    
//                 })

//             }

//             else {

//                 alert('failed');
//             }
            
//         }
//     });

//     return false;
// })


 })
</script>
{% endblock %}